# Python cache and compiled files
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Pytest cache files
.pytest_cache/

# IDE-specific files
.vscode/
.idea/

# System-specific files
.DS_Store
Thumbs.db
